$primary-normal: #f5cedc;
$primary-dark: #f487ab;
$primary-light: #fadde7;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;